<!-- Team Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                {% for member in site.people %}
                <!-- <div class="col-sm-4"> -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" srcset="img/team/{{ member.pic }}.jpg 1x, img/team/{{ member.pic }}@2x.jpg 2x" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Originally from the far north of Germany, I came to Berlin to undertake 
                    study in Interface Design the FH Potsdam. Following this, I began working at Service Design agency Fjord 
                    in 2011. As a Designer, I am responsible for creating innovative services, products and strategies for 
                    clients working in various industries from around the world.
					I think of my job much like solving a puzzle, in that I must find simple solutions for complex problems, 
					guide teams through every stage of the design process and balance user with business needs to ensure the 
					various pieces come together in services with an outstanding user experience.<br>
					<br>
					In addition to my design work, I enjoy spending time with my children, exploring the natural surroundings 
					and playgrounds in and around Berlin. I am fascinated by graphic novels, and use their style of visual 
					storytelling as an inspiration to inform my designs. To keep a clear head, I enjoy meditation and riding 
					my bike on a daily basis.</p>
                </div>
            </div>
        </div>
    </section>