<!-- Services Section -->
    <section id="attributes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">I’d like to think of myself as</h2>
                   <span class="line-title"></span>
                </div>
            </div>
            <div class="row text-center">
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Passionate</h4>
                    <p class="text-muted">I love what I do – designing services and experiences has always been more than a just a job to me.</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Curious</h4>
                    <p class="text-muted">I'm driven by the need to understand how things work, in order to assess how I might be able to improve them.</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collaborative</h4>
                    <p class="text-muted">I enjoy close team collaboration across all disciplines and departments. That includes fellow designers, developers, clients and users.</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reliable</h4>
                    <p class="text-muted">I take responsibility for the quality of every aspect of my work, always delivering within a given timeframe.</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-crosshairs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Focused</h4>
                    <p class="text-muted">Once I start a task, I remain focussed and dedicated to completing the job at hand.</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Supportive</h4>
                    <p class="text-muted">Colleagues recognise me as a person to whom they can always bring their thoughts, questions and ideas.</p>
                </div>
            </div>
        </div>
    </section>