<!-- Clients Aside -->
	<section id="clients" class="bg-light-gray">
   	<aside class="clients">
        <div class="container">
        	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some of the clients I made happy</h2>
                    <span class="line-title"></span>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/1.png" srcset="img/logos/1.png 1x, img/logos/1@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/2.png" srcset="img/logos/2.png 1x, img/logos/2@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/3.png" srcset="img/logos/3.png 1x, img/logos/3@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/4.png" srcset="img/logos/4.png 1x, img/logos/4@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/5.png" srcset="img/logos/5.png 1x, img/logos/5@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/6.png" srcset="img/logos/6.png 1x, img/logos/6@2x.png 2x"class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/7.png" srcset="img/logos/7.png 1x, img/logos/7@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/8.png" srcset="img/logos/8.png 1x, img/logos/8@2x.png 2x" class="img-responsive img-centered" alt="">
                </div>                                              
            </div>
        </div>
    </aside>
    </section>