<!-- About Section -->
    <section id="people">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">People I worked with say</h2>
                	<span class="line-title"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" srcset="img/about/1.jpg 1x, img/about/1@2x.jpg 2x" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Michel Tofahrn</h4>
                                    <h4 class="subheading">Design Lead, Fjord Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">“Arne has a very constant output of awesome solutions and he pushes projects to the limits in terms of quality.”</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" srcset="img/about/2.jpg 1x, img/about/2@2x.jpg 2x" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sven Neitzel</h4>
                                    <h4 class="subheading">Designer, Fjord Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">“Arne is a thoughtful and patient team player. He supports everyone who is in need of advice.”</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" srcset="img/about/3.jpg 1x, img/about/3@2x.jpg 2x" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jennifer Dettmering</h4>
                                    <h4 class="subheading">Project Manager, Fjord Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">“Arne is structured and well organised, has an overview of the whole project and always keeps the big picture in mind.”</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" srcset="img/about/4.jpg 1x, img/about/4@2x.jpg 2x" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Scott Robinson</h4>
                                    <h4 class="subheading">Biz Dev	 Director, Fjord Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">“Arne has a great way of explaining to and leading clients toward the goals which they want to achieve but also those they don't know they want to achieve.”</p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </section>